*.class

# Package Files #
*.jar
*.war
*.ear
/web/target
/web/.classpath
/web/.project
/web/.settings
/.settings
/*.project
/*
/admin/*
/admin/.classpath
/admin/.project
/common/.classpath
/common/.project
/common/.settings
/common/target
/schedule/.classpath
/schedule/.project
/schedule/.settings
/schedule/target
/userweb/target
/userweb/.classpath
/userweb/.project
/userweb/.settings
