body {
	background-color: #ddd;
	background-repeat: no-repeat;
	font-family: "宋体";
	font-size: 12px;
	color: #333;
	background-attachment: fixed;
	background-image: url(imgs/bj_1.jpg);
	background-position: center;
	margin:0;
}
a {
	font-family: 宋体;
	font-size: 12px;
	color: #333;
}
.reg_md {
	height: 485px;
	width: 1000px;
	background-color: #FFF;
	margin:auto;
	vertical-align:middle;
}

.reg_md_top{
	height:85px;
}

.reg_md_btm{
	height:400px;
}

.reg_md_btm_l{
	height:400px;
	width:659px;
	float:left;
	background-color: #F7F7F7;
}

.reg_md_btm_l #desc{
	width: 224px;
	height: 33px;
	background-image: url(imgs/ad_login.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 19px auto 19px 35px;

}

.reg_md_btm_l #imgs{
	width: 590px;
	height: 296px;
	background-image: url(imgs/ad_login.jpg);
	background-repeat: no-repeat;
	background-position: 0px -52px;
	margin-top: 19px;
	margin-right: auto;
	margin-bottom: 19px;
	margin-left: 35px;
}

.reg_md_btm_r{
	height:400px;
	width:340px;
	float:left;	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #888;
}

.reg_md_btm_r h1{
	color: #F88C52;
	font-family: "Arial Black";
	text-align: center;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #333;
}﻿
