body {
	background-color: #ddd;
	background-repeat: no-repeat;
	font-family: "宋体";
	font-size: 12px;
	color: #333;
	background-attachment: fixed;
	background-image: url(imgs/bj_1.jpg);
	background-position: center;
	margin:0;
}
a {
	font-family: 宋体;
	font-size: 12px;
	color: #333;
}
.md {
	height: 485px;
	width: 1000px;
	margin:auto;
}

.md_top{
	height:85px;
}

.reg_logo{
	background-image: url(imgs/logo_w.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 67px;
	width: 137px;
}

.md_c{
	height:400px;
}

.md_c_l{
	height:400px;
	width:659px;
	float:left;
	background-color: #F7F7F7;
}

.md_c_l #desc{
	width: 224px;
	height: 33px;
	background-image: url(imgs/ad_login.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin: 19px auto 19px 35px;

}

.md_c_l #imgs{
	width: 590px;
	height: 296px;
	background-image: url(imgs/ad_login.jpg);
	background-repeat: no-repeat;
	background-position: 0px -52px;
	margin-top: 19px;
	margin-right: auto;
	margin-bottom: 19px;
	margin-left: 35px;
}

.md_c_r{
	height:400px;
	width:340px;
	float:left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #888;
	background-color: #fff;
}

.md_c_r h1{
	height: 27px;
	width: 170px;
	background-image: url(imgs/login_btn.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: -9999px;
	margin:22px auto;
}

.md_c_r .error{
	height: 19px;
	width: 119px;
	margin:5px 38px;
	font-family: "宋体";
	font-size: 15px;
	color: #FF4D4D;
	visibility:visible;
}

.md_c_r .i{
	height: 38px;
	width: 269px;
	margin:0px auto 20px 38px;	
	font-family: "宋体";
	font-size: 15px;
	color: 444;
	background: url(imgs/login_btn.png)	no-repeat 0px -27px;
}

.md_c_r i{
	position:absolute;
	margin:10px;
	font-style: normal;		
}
.md_c_r input{
	width: 245px;
	/*margin:5px 10px;*/
	outline: 0;
	background-position: center;	
	position: relative;
	top: 2px;
	left: 2px;
	height: 18px;
	padding: 10px 0 10px 5px;
	line-height: 18px;
	border: none;
	background: none;
	font-family: Verdana,Tahoma,Arial;
	font-size: 16px;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #333;
}﻿


