@charset "utf-8";
/*定义全局样式*/
.header { height:120px; text-align:center; background:url(../images/logo.png) no-repeat center; padding-top:35px;}
.header a { width:250px; height:85px; display:block; margin:0 auto; }

.logbox {width:620px; height:275px; background:url(../images/middlepic.png) no-repeat center; margin:0 auto; padding-top:25px; }
.logbox .fl { width:275px; float:left; padding-left:35px;}
.logbox .fl li { margin-top:16px;}

.logbox  h3 { font-size:16px; font-family:"微软雅黑"; color:#666666;}
.logbox .fr { width:235px; float:right; padding-left:75px}

.logbox .fr table { margin-top:30px; color:#666666; line-height:40px;}
.logbox .fr table .ipttxt {width:220px; height:30px; border:#d4d4d4 1px solid; text-indent:5px; line-height:20px; _line-height:30px;  margin-bottom:10px; border-radius:5px; color:#ccc; font-size:14px; }
.logbox .fr table input {vertical-align:middle;}

.logbox .fr table a { color:#5678a0; text-decoration:underline;}

.btnreg { text-align:center; margin-top:15px;}
.btn_submit { background:url(../images/btn_submit.png) no-repeat; width:64px; height:30px; border:0; font-size:14px; text-align:center; font-weight:bold; color:#fff; cursor:pointer;}






.regbox{width:700px;  background:#fff; margin:0 auto; border:1px #ccc solid; border-radius:5px; overflow:hidden;_zoom:1; padding:20px 100px}
.regbox .fl { float:left; width:500px;border-right:1px #ccc  dashed;height:350px;}
.regbox .fl h1 { line-height:50px; color:#666;}
.regbox .fl table {line-height:40px; font-size:14px; color:#636363;}

.regbox .fl .ipttxt {width:250px; height:40px; border:#d4d4d4 2px solid; text-indent:5px; line-height:30px; _line-height:40px;  margin-bottom:15px; border-radius:5px; color:#ccc; font-size:14px;}

.regbox input {vertical-align:middle;}
.regbox .fr { float:right; width:159px; padding-left:40px; }

.regbox .fr h3 { font-size:16px; font-family:"微软雅黑"; color:#666666;}
